<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855049434388-lg44s04igmic2jh4bl3ud1iq4ne3np4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855049434388-lg44s04igmic2jh4bl3ud1iq4ne3np4m</string>
	<key>API_KEY</key>
	<string>AIzaSyAjBdtnwrwi-xGstCcLSFdT_7aF3yr3I1k</string>
	<key>GCM_SENDER_ID</key>
	<string>855049434388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.Exponent</string>
	<key>PROJECT_ID</key>
	<string>walk-dccd4</string>
	<key>STORAGE_BUCKET</key>
	<string>walk-dccd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855049434388:ios:1a597ad387c03a8afb3e01</string>
	<key>DATABASE_URL</key>
	<string>https://walk-dccd4.firebaseio.com</string>
</dict>
</plist>